{% extends 'base.html' %}

{% block body_block %}
<diV class="container py-5">
	{% include 'partials/_alerts.html' %}
	<h1>CREATE MEMBER</h1>
	<small>Member create form</small>
	<div class="card-body card">
		<form method="post" novalidate>
	{% csrf_token %}
	{{ form.non_field_errors }}
	  <div class="form-group">
	    <label for="">Name</label>
	    {{form.name}}
		{{ form.name.errors }}
	  </div>
			
	  <div class="form-group">
	    <label for="">Email</label>
	    {{form.email}}
		{{ form.email.errors }}
	  </div>
			
		<div class="form-group">
		    <label for="">Phone</label>
		    {{form.phone}}
			{{form.phone.errors}}
	    </div>
			<div class="form-group">
		    <label for="">Designation</label>
		    {{form.designation}}
	    </div>
		<input type="hidden" name="is_active" value=1>
	  
	  <button type="submit" class="btn btn-success">Create Member</button>
	</form>
	</div>
</diV>
{% endblock %}